<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found>
            <RouteView RouteData="@context" DefaultLayout="typeof(NewsEdge.Web.Blazor.UserDashboardLayout)">
            </RouteView>
        </Found>
        <NotFound>
            <div class="alert alert-danger">
                <h3>مسیر مورد نظر پیدا نشد.</h3>
            </div>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
