@page "/ForgotPassword"
@model ForgotPasswordModel
@{
    ViewBag.Title = "رمز عبورم را فراموش کرده ام";
    string siteKey = HttpContext.RequestServices.GetRequiredService<IConfiguration>()["CaptchaSiteKey"];
}


@section PageBanner
    {
    <section class="breadcrumbs-area" style="background-image: url('img/banner/breadcrumbs-banner.jpg');">
        <div class="container">
            <div class="breadcrumbs-content">
                <h1>فراموشی رمز عبور</h1>
                <ul>
                    <li>
                        <a href="/">خانه</a> -
                    </li>
                    <li>
                        <a asp-page="/Account/Login">ورود</a> - 
                    </li>
                    <li>
                        رمز عبورم را فراموش کرده ام
                    </li>
                </ul>
            </div>
        </div>
    </section>
}


<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login-form">
                    @if (TempData["Success"] is "Success")
                    {
                        <div class="card">
                            <div class="card-header bg-success text-white">عملیات موفق</div>
                            <div class="card-body text-success">
                                ایمیلی حاوی لینک بازیابی حساب شما به ایمیل وارد شده ازسال شد.
                            </div>
                        </div>
                    }
                    <form asp-page="/Account/ForgotPassword" method="post">
                        <label>ایمیل</label>
                        <input asp-for="ForgotPasswordViewModel.Email" placeholder="example@@example.com" />
                        @Html.AntiForgeryToken()

                        <div class="g-recaptcha" data-sitekey="@siteKey"></div>

                        <div class="text-danger" asp-validation-summary="All"></div>

                        <button type="submit">ارسال ایمیل بازیابی</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section script
    {
    <partial name="_ValidationPartial" />
}