@page "/ResetPassword"
@model ResetPasswordModel
@{
    ViewBag.Title = "ورود";
    string siteKey = HttpContext.RequestServices.GetRequiredService<IConfiguration>()["CaptchaSiteKey"];
}

@section PageBanner
    {
    <section class="breadcrumbs-area" style="background-image: url('img/banner/breadcrumbs-banner.jpg');">
        <div class="container">
            <div class="breadcrumbs-content">
                <h1>ورود به NewsEdge</h1>
                <ul>
                    <li>
                        <a href="/">خانه</a> -
                    </li>
                    <li>ورود</li>
                </ul>
            </div>
        </div>
    </section>
}


<section class="bg-body section-space-less30">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="login-form">
                    @if (TempData["Success"] is "Success")
                    {
                        <div class="card">
                            <div class="card-header bg-success text-white">عملیات موفق</div>
                            <div class="card-body text-success">
                                حساب شما با موفقیت ایجاد شد.
                            </div>
                        </div>
                    }
                    <form asp-page="/Account/ResetPassword" method="post">
                        <input type="hidden" asp-for="ResetPasswordViewModel.UserId"/>
                        <input type="hidden" asp-for="ResetPasswordViewModel.Token"/>
                        @Html.AntiForgeryToken()
                        <label>رمز عبور</label>
                        <input asp-for="ResetPasswordViewModel.Password" placeholder="Secret@123">
                        <label>تکرار رمز عبور</label>
                        <input asp-for="ResetPasswordViewModel.ConfirmPassword" placeholder="Secret@123" />

                        <div class="g-recaptcha" data-sitekey="@siteKey"></div>
                        <br />
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <br />
                        <button type="submit">بازیابی رمز عبور</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section script
{
    <partial name="_ValidationPartial" />
}